<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student List</title>
</head>

<body>
    <h1>All Students</h1>

    <ul>

        {% for student in all_students %}
        <li>{{ student.name }} - {{ student.grade }}</li>
        <a href="{% url 'student_detail' student.id %}">View Student</a>
        <a href="{% url 'student_update' student.id %}">Edit Student</a>
        <a href="{% url 'student_delete' student.id %}">Delete Student</a>

        {% endfor %}
    </ul>
</body>

</html>