<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student List</title>
</head>

<body>
    <h1>All Students</h1>


    {% if all_students %}



    <ul>
        {% for student in all_students %}
        <li>{{ forloop.counter }}. {{ student.name }} - {{ student.grade }}</li>
        <a href="{% url 'student_detail' student.id %}">View Student</a>
        <a href="{% url 'student_update' student.id %}">Edit Student</a>
        <a href="{% url 'student_delete' student.id %}">Delete Student</a>
        {% if forloop.first %}(First Student){% endif %}
        {% if forloop.last %}(Last Student){% endif %}
        {% empty %}
        <li>No students available.</li>

        {% endfor %}


    </ul>
    {% endif %}

</body>

</html>